<h1>Scraper</h1>
<nav>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="btn btn-danger scrape-new">Scrape New Articles</a></li>
        </ul>
    </div>
</nav>
<div>
    <h1>Mongo Scraper</h1>
    <p>The Mary Sue Edition</p>
</div>

<div class="articles"></div>
<footer>
    <p>The Mary Sue Mongo Scraper</p>
</footer>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../assets/javascript/saved.js"></script>